body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: serif;
    font-size: 24px;
    font-weight: bold;
}
#panel {
    background-color: #ffffff;
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #cccccc;
}