body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f000;
	color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#panel {
    background-color: #ffffff00;
	
    width: 350px;
    padding: 20px;
    border: 1px solid #cccccc;
    text-align: center;
    position: relative; /* Position relativ setzen */
    overflow: hidden; /* Overflow verstecken, damit animierte Texte nicht sichtbar sind */
}

h1 {
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
    animation: slideFromTop 0.5s forwards; /* Animation für Überschrift */
    opacity: 0; /* Start opacity für Animation */
}

#content p {
    margin: 5px 0;
    animation: slideFromTop 0.5s forwards; /* Animation für Texte */
    opacity: 0; /* Start opacity für Animation */
}

@keyframes slideFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

const panel = document.getElementById('panel'); 


function handleKeyDown(event) {
  if (event.key === 'z' || event.key === 'Z' || event.key === 'v' || event.key === 'V') { 
    panel.style.backgroundColor = '#e0e0e020'; 
    panel.style.border = '1px solid #cccccc'; 
  }
}


document.addEventListener('keydown', handleKeyDown);

function handleKeyUp(event) {
  if (event.key === 'z' || event.key === 'Z' || event.key === 'v' || event.key === 'V') {
    setTimeout(function() {
      panel.style.backgroundColor = '#ffffff00';
      panel.style.border = '1px solid #cccccc;';
    }, 100); 
  }
}


// Event Listener für das Tastaturereignis "keyup"
document.addEventListener('keyup', handleKeyUp);

document.addEventListener('touchstart', handleTouchStart);
document.addEventListener('touchend', handleTouchEnd);

function handleTouchStart(event) {
	panel.style.backgroundColor = '#e0e0e020'; 
    panel.style.border = '1px solid #cccccc';
}

function handleTouchEnd(event) {
	setTimeout(function() {
      panel.style.backgroundColor = '#ffffff00';
      panel.style.border = '1px solid #cccccc;';
    }, 100); 
}
